body{
    background-color: grey;
}
input{
    border-radius: 5px;
    background-color: pink;
    padding: 5px;
    margin: 5px;
}
button{
    padding: 5px;
    margin: 28px;
    height: 26px;
    width: 12vw;
    margin-left: 63px;
    background-color: azure;
    border-radius: 5px;
}